<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Document</title>
</head>
<link rel="stylesheet" href="./../../dist/cssmin/head.min.css">
<link rel="stylesheet" href="./../../dist/cssmin/cart.min.css">
<style>
</style>
<body>
        <div class="topNav">
                <div class="topNavCenter">
                    <div class="left">
                        <span>考拉欢迎您！</span>
                        <a href="./login.html">登陆</a>
                        <a href="./register.html">免费注册</a>
                        <a class="chart" href="javascript:0;">手机考拉
                        <span><img src="./../../static/images/chart.png"><p>下载APP</p>
                            <p>领1000元新人礼包</p>
                        </span>
                        </a>
                        <div class="vip"><span></span><a class="logout">退出</a></div>
                    </div>
                    <div class="right">
                        <ul>
                            <li><a href="">每日签到</a></li>
                            <li><a href="">我的订单</a></li>
                            <li class="three"><a href="">个人中心<i></i></a>
                            </li>
                            <li class="four"><a href="">客户服务<i></i></a></li>
                            <li class="five"><a href="">充值中心<i></i></a></li>
                            <li class="six"><a href="">消费者权益<i></i></a></li>
                            <li class="seven"><a href="">更多<i></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        <!-- 头部logo -->
        <div class="header">
           <div class="headerCen">
                <a class="logo" href="./../index.html"><img src="./../../static/images/logo.png" ></a>

           </div>
        </div>



    <div class="cartBox">
        <div class="container">
            <h3><span class="mycart">我的购物车</span>
            <span class="ziying">考拉自营商品已免运费&nbsp;&nbsp;<a href="./../index.html">再逛逛></a></span>
            </h3>
                <li class="headLi">
                    <div class="col1 col">
                    <input type="checkbox" class="checkAll">全选
                    </div>
                    <div class="col2 col">商品信息</div>
                    <div class="col3 col">单价（元）</div>
                    <div class="col4 col">数量</div>
                    <div class="col5 col">金额（元）</div>
                    <div class="col6 col">操作</div>
                </li>
                        <ul class="goods">
                            <!-- <li>
                                <input type="checkbox" class="cheackOne">
                            <img src="./../../static/images/detailEvaluation4.jpg" width="100" height="100">
                            <span>天安门</span><b>价格：￥45.00</b>
                            <div class="number"><button>-</button><input type="number" class="number"><button>+</button></div>小计￥45.00
                            </li> -->
                            
                        </ul>
                              
                <li class="lastLi"><input type="checkbox" class="checkAll"><span>全选</span><div class="cartinfo">总共优惠￥：0.00元</div>  </li>
                <p class="ttbar">已选商品<span class="numberCount">0</span>件&nbsp;&nbsp;&nbsp;&nbsp;共计：￥<span class="priceCount">0.00</span>元</p>
                <button class="gobuy">结算</button>
        </div>
    </div>




    <div class="footerWrap">
            <div class="footerCen">
                <div class="footerList">
                    <ul class="clearFix">
                        <li><div class="fontIcon">正</div><b>正品承诺</b><span>正品保障 假一赔十</span></li>
                        <li><div class="fontIcon">低</div><b>低价保障</b><span>缩减中间环节 确保低价</span></li>
                        <li><div class="fontIcon">退</div><b>30天无忧退货</b><span>国内退货 售后无忧</span></li>
                        <li><div class="fontIcon">邮</div><b>满88包邮</b><span>部分特殊商品除外</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- 2 -->
        <div class="footerLogo">
            <div class="footerLogoCen">
                <img src="./../../static/images/footerImg.jpg" alt="">
            </div>
        </div>
        <!-- 3 -->
    <div class="footer">
            <h4><a href="#">隐私政策</a>-<a href="#">考拉海购</a></h4>
            <p>
                <span>增值电信业务经营许可证：浙B2-20160288</span>
                <a href="#">自营经营者信息</a> 
                <span>（浙）网械平台备字[2018]第00007号</span>
            </p>
            <div class="copy">
                <img src="./../../static/images/police.png">
                <a href="#">浙公网安备 33010802002216号 </a>
                <span>阿里巴巴版权所有©2003-2019</span>
                <a href="#">互联网药品信息服务资格证书编号（浙）-2017-0027 </a>
                <span>浙ICP备16011229号-6</span>
            </div>
            <div class="icon">
                <img src="./../../static/images/icon1.png" >
                <img src="./../../static/images/icon2.png" alt="">
                <img src="./../../static/images/icon3.gif" alt="">
            </div>
        </div>
</body>
<script src="./../js/cookie.js"></script>
<script src="./../../node_modules/jquery/dist/jquery.js"></script>
<script>

var u=getCookie('username');
    if(u==undefined){
        document.querySelector(".topNav .vip").innerHTML="";
    }else{
        document.querySelector(".topNav .vip span").innerText=u;
        document.querySelector(".topNav .vip .logout").onclick=function(){
        delCookie("username");
        location.href='./login.html'
    }
    }



function loadPage(){
var str = localStorage.getItem("data");
if(str==null){
    return false;
}
var arr = JSON.parse(str);
var html="";
for(var i=0;i<arr.length;i++){
    html+=`
    <li>
            <input type="checkbox" class="checkOne col0">
        <img src="${arr[i].path}" width="100" height="100" class="col1">
        <div class="info col2">
            <span>${arr[i].name}<br>
                <a href="javascript:;">30天无忧退款</a></span><b>￥<strong>${arr[i].price}</strong></b>
        </div>
        <div class="number col3">
            <button class="cut">-</button><input type="number" class="num" value="${arr[i].number}"><input type="hidden" name="stock" value="${arr[i].stock}"><button class="add">+</button>
        </div>
        <div class="xiaoji">小计￥<span class="xiaojiNum">${(arr[i].number*arr[i].price).toFixed(2)}</span></div>
        <button class="remove" data-id="${arr[i].id}">删除</button>
        </li>
        
    `
    }
    if(!html){
        $(".container ul").html("<a href='./login.html'><img src='./../../static/images/empty.jpg'></a>");
    }else{
        $(".container ul").html(html);

    }
    
    curadd();
    checkOneClick();
}
loadPage();


//每个收藏的景点的复选框事件
function checkOneClick(){
    $(".container .checkOne").click(function(){
    var arr = Array.prototype.slice.call($(".checkOne"));
    var res=arr.every(function(v){
        if($(v).prop("checked")){
            return true;
        }
    })
    if(res){
        $(".container .checkAll").prop("checked",true);
    }else{
        $(".container .checkAll").prop("checked",false);
    }
    count();
    })
}




function store(){
    var str = localStorage.getItem("data");
    var arr = JSON.parse(str);
    for(var i=0;i<arr.length;i++){
        $(".container .remove").each(function(i,v){
            if(arr[i].id == $(v).attr("data-id")){
                arr[i].number = $(v).siblings(".number").children(".num").val()-0;
            }
        })
    }
    localStorage.clear();
    localStorage.setItem("data",JSON.stringify(arr))
    // lodePage();
}


function addup(){
    $(".container .xiaojiNum").each(function(k,v){
        var num = $(this).parent().siblings(".number").find(".num").val()-0;
        var price = parseFloat($(this).parent().siblings(".info").find("strong").text()).toFixed(2);
        $(this).text((price*num).toFixed(2));
    })
}



$(".container .checkAll").click(function(){
    var c=$(this).prop("checked");
    if(c){
        $(".container .checkAll").prop("checked",true)
        $(".container .checkOne").prop("checked",true)
    }else{
        $(".container .checkAll").prop("checked",false)
        $(".container .checkOne").prop("checked",false)
    }
    count();
})
function count(){
    var numberCount = 0;
    var xiaojiNum=0;
    $(".container .checkOne:checked").each(function(k,v){
        numberCount +=$(v).siblings(".number").children(".num").val()-0;
        xiaojiNum +=$(v).siblings(".xiaoji").children(".xiaojiNum").text()-0;
    });
    console.log(numberCount)
    $(".container .numberCount").text(numberCount);
    $(".container .priceCount").text(xiaojiNum.toFixed(2));
}


function curadd(){
    $(".number").click(function(e){
    var target = e.target;
    if(target.className == "cut"){
        if($(this).find(".num").val()-1<=1){
            var num=1;
        }else{
            var num = $(this).find(".num").val()-1;
        }
        $(this).find(".num").val(num);
    }
    if(target.className == "add"){
        console.log()
        if($(this).find(".num").val()-0+1>=$(this).find("[name='stock']").val()-0){
            var num=$(this).find("[name='stock']").val()-0;
        }else{
            var num = $(this).find(".num").val()-0+1;
        }
        $(this).find(".num").val(num);
    }
    addup();

    store();

    count();
})
}



$(".container .remove").each(function(){
    $(this).click(function(){
        var arr = JSON.parse(localStorage.getItem("data"));
        var id =$(this).attr("data-id");
        var key;
        for(var i=0;i<arr.length;i++){
            if(arr[i].id==id){
                key = i;
            }
        }
        arr.splice(key,1);
        localStorage.setItem("data",JSON.stringify(arr)); 
        //重新加载页面
        loadPage();
    })
})


//进入付款页

$(".gobuy").click(function(){
    location.href="./confirm.html";
})
</script>
</html>