<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Document</title>
</head>
<link rel="stylesheet" href="./../../dist/cssmin/head.min.css">
<link rel="stylesheet" href="./../../dist/cssmin/confirm.min.css">
<body>
        <div class="topNav">
                <div class="topNavCenter">
                    <div class="left">
                        <span>考拉欢迎您！</span>
                        <a href="./login.html">登陆</a>
                        <a href="./register.html">免费注册</a>
                        <a class="chart" href="javascript:0;">手机考拉
                        <span><img src="./../../static/images/chart.png"><p>下载APP</p>
                            <p>领1000元新人礼包</p>
                        </span>
                        </a>
                        <div class="vip"><span></span><a class="logout">退出</a></div>
                    </div>
                    <div class="right">
                        <ul>
                            <li><a href="">每日签到</a></li>
                            <li><a href="">我的订单</a></li>
                            <li class="three"><a href="">个人中心<i></i></a>
                            </li>
                            <li class="four"><a href="">客户服务<i></i></a></li>
                            <li class="five"><a href="">充值中心<i></i></a></li>
                            <li class="six"><a href="">消费者权益<i></i></a></li>
                            <li class="seven"><a href="">更多<i></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        <!-- 头部logo -->
        <div class="header">
           <div class="headerCen">
                <a class="logo" href="./../index.html"><img src="./../../static/images/logo.png" ></a>

           </div>
        </div>


        <div class="address">
            <div class="addressCen">
                <h3>选择收货地址</h3>
                <div class="addressBot">
                    <div class="area clearFix">
                        <span><i>*</i>&nbsp;所在地区</span><input type="text" name="address" placeholder="输入省市自治区等">
                    </div>
                    <div class="detailed clearFix" >
                            <span><i>*</i>&nbsp;详细地址</span><input type="textarea" name="detailed" placeholder="无需重复填写省市区，小于75个字">
                    </div>
                    <div class="name clearFix">
                            <span><i>*</i>&nbsp;收货人姓名</span><input type="text" name="name"placeholder="不能为昵称、X先生、X小姐等，请使用真实姓名">
                        </div>
                    <div class="tel clearFix">
                            <span><i>*</i>&nbsp;手机号</span><input type="number" name="tel"placeholder="必须是有效手机号">
                        </div>
                    <div class="email clearFix">
                            <span><i>*</i>&nbsp;手机号</span><input type="email" name="email"placeholder="用于通知商品信息">
                        </div>
                        <button class="submit">保存新地址</button>
                </div>
                <div class="payment">
                        <h3>确认商品信息</h3>
                        <div class="warebox">
                            暂无商品
                        </div>
                    </div>
            </div>
            <div class="money clearFix">
                <div class="left">
                    <div class="fapiao clearFix">
                            <span class="f1">
                                    发票信息：订单中所有商品均不支持开具发票
                            </span>
                            <dl>
                                <dt>发票须知：</dt>
                                <dt>1. 保税仓发货商品与海外仓发货商品属跨境海外商品，无法开具国内增值税发票</dt>
                                <dt>2. 自2017年7月1日起，发票抬头选择公司（企业、有税号的非企业性单位和个体工商户）需提供纳税人识别号</dt>
                                <dt>3. 自营国内仓商品支持开具电子普通发票，电子普通发票在确认收货后48小时内开具</dt>
                                <dt>4. 杭州1号仓和杭州4号仓的商品，若下单开具纸质普通发票，发票随包裹一起寄出，补开则单独寄出</dt>
                                <dt>5. 其他自营国内仓商品，若开具纸质普通发票，发票在确认收货后3个工作日内单独寄出</dt>
                            </dl>
                    </div>
                </div>
                <div class="right">
                    <div class="orderSubmit">
                        <div class="numRow">
                            <em>商品应付总计：</em>
                            <span>0.00</span>
                        </div>
                        <div class="numRow">
                                <em>运费：</em>
                                <span>0.00</span>
                        </div>
                        <div class="numRow">
                                <em>税费：</em>
                                <span>0.00</span>
                        </div>
                        <div class="numRow">
                                <em>应付金额：</em>
                                <span>0.00</span>
                        </div>
                    </div>
                    <div class="btnrow">
                        <div class="btnsubmit">
                            提交订单
                        </div>
                        <div class="gotocart">
                            <a href="./cart.html">返回购物车修改</a>   
                        </div>
                    </div>
                </div>

            </div>
        </div>











        

    <div class="footerWrap">
            <div class="footerCen">
                <div class="footerList">
                    <ul class="clearFix">
                        <li><div class="fontIcon">正</div><b>正品承诺</b><span>正品保障 假一赔十</span></li>
                        <li><div class="fontIcon">低</div><b>低价保障</b><span>缩减中间环节 确保低价</span></li>
                        <li><div class="fontIcon">退</div><b>30天无忧退货</b><span>国内退货 售后无忧</span></li>
                        <li><div class="fontIcon">邮</div><b>满88包邮</b><span>部分特殊商品除外</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- 2 -->
        <div class="footerLogo">
            <div class="footerLogoCen">
                <img src="./../../static/images/footerImg.jpg" alt="">
            </div>
        </div>
        <!-- 3 -->
    <div class="footer">
            <h4><a href="#">隐私政策</a>-<a href="#">考拉海购</a></h4>
            <p>
                <span>增值电信业务经营许可证：浙B2-20160288</span>
                <a href="#">自营经营者信息</a> 
                <span>（浙）网械平台备字[2018]第00007号</span>
            </p>
            <div class="copy">
                <img src="./../../static/images/police.png">
                <a href="#">浙公网安备 33010802002216号 </a>
                <span>阿里巴巴版权所有©2003-2019</span>
                <a href="#">互联网药品信息服务资格证书编号（浙）-2017-0027 </a>
                <span>浙ICP备16011229号-6</span>
            </div>
            <div class="icon">
                <img src="./../../static/images/icon1.png" >
                <img src="./../../static/images/icon2.png" alt="">
                <img src="./../../static/images/icon3.gif" alt="">
            </div>
        </div>
</body>
<script src="./../js/cookie.js"></script>
<script>
var u=getCookie('username');
    if(u==undefined){
        document.querySelector(".topNav .vip").innerHTML="";
    }else{
        document.querySelector(".topNav .vip span").innerText=u;
        document.querySelector(".topNav .vip .logout").onclick=function(){
        delCookie("username");
        location.href='./login.html'
    }
    }



    
</script>
</html>