body {
  background-color: #fff; }

.cartBox {
  width: 1090px;
  margin: 0 auto;
  position: relative; }
  .cartBox .container {
    width: 100%; }
    .cartBox .container > h3 {
      font-size: 14px;
      color: #333;
      line-height: 32px;
      margin-top: 15px; }
      .cartBox .container > h3 .mycart {
        position: relative;
        top: -1px;
        font-weight: 700; }
      .cartBox .container > h3 .ziying {
        position: relative;
        float: right;
        top: -4px;
        height: 32px;
        line-height: 32px;
        font-size: 12px;
        font-weight: 400; }
        .cartBox .container > h3 .ziying > a {
          color: blue; }
    .cartBox .container .headLi {
      color: #999;
      border: 1px solid #eaeaea;
      height: 34px;
      line-height: 34px; }
      .cartBox .container .headLi .col {
        float: left;
        padding: 0 10px; }
      .cartBox .container .headLi .col1 {
        width: 114px; }
        .cartBox .container .headLi .col1 > .checkAll {
          margin: -6px 10px 0 12px;
          width: 17px;
          height: 18px;
          display: inline-block;
          width: 17px;
          height: 18px;
          display: inline-block; }
      .cartBox .container .headLi .col2 {
        width: 402px; }
      .cartBox .container .headLi .col3 {
        width: 130px; }
      .cartBox .container .headLi .col4 {
        width: 127px; }
      .cartBox .container .headLi .col5 {
        width: 108px; }
      .cartBox .container .headLi .col3 {
        width: 93px; }
    .cartBox .container .goods {
      list-style: none;
      position: relative; }
      .cartBox .container .goods > li {
        position: relative;
        background-color: #fffbf0;
        border: 1px solid #eaeaea;
        padding: 20px 0;
        margin: 5px 0;
        display: flex; }
        .cartBox .container .goods > li > .col0 {
          position: absolute;
          top: 50px;
          left: 20px;
          width: 17px;
          height: 18px; }
        .cartBox .container .goods > li > .col1 {
          margin-left: 80px; }
        .cartBox .container .goods > li > .col2 {
          margin-left: 10px;
          display: flex; }
          .cartBox .container .goods > li > .col2 > span {
            width: 300px;
            margin-right: 50px;
            font-weight: 200; }
            .cartBox .container .goods > li > .col2 > span > a {
              line-height: 35px;
              font-size: 12px;
              color: #333; }
          .cartBox .container .goods > li > .col2 > b {
            display: block;
            width: 120px;
            line-height: 75px;
            font-size: 16px;
            text-align: center; }
        .cartBox .container .goods > li > .col3 {
          height: 30px;
          margin-top: 25px;
          margin-right: 50px;
          text-align: center; }
          .cartBox .container .goods > li > .col3 .cut, .cartBox .container .goods > li > .col3 .add {
            width: 22px;
            height: 22px;
            border: 1px solid #bcbcbc;
            text-align: center; }
          .cartBox .container .goods > li > .col3 .num {
            width: 43px;
            height: 20px;
            outline: none;
            border: 0;
            border: 1px solid #bcbcbc;
            text-align: center; }
        .cartBox .container .goods > li .xiaoji {
          font-weight: 700;
          font-size: 14px;
          text-align: center;
          line-height: 75px; }
        .cartBox .container .goods > li .remove {
          position: absolute;
          top: 50px;
          right: 100px;
          border: 0;
          background-color: rgba(0, 0, 0, 0); }
    .cartBox .container .lastLi {
      padding: 10px 43px 10px 20px;
      border: 1px solid #eaeaea;
      position: relative; }
      .cartBox .container .lastLi > .checkAll {
        position: absolute;
        top: 12px;
        left: 20px;
        width: 17px;
        height: 18px; }
      .cartBox .container .lastLi span {
        margin-left: 25px; }
      .cartBox .container .lastLi .cartinfo {
        float: right; }
    .cartBox .container .ttbar {
      height: 40px;
      line-height: 40px;
      margin-top: 20px;
      padding: 10px;
      position: relative;
      background-color: #f8f8f8; }
      .cartBox .container .ttbar .numberCount, .cartBox .container .ttbar .priceCount {
        color: #e31436;
        font-weight: 700;
        font-size: 18px;
        padding: 0 5px; }
    .cartBox .container .gobuy {
      width: 120px;
      line-height: 60px;
      text-align: center;
      background-color: #e31436;
      color: #fff;
      font-size: 18px;
      cursor: pointer;
      border: 0;
      position: absolute;
      bottom: 0;
      right: 0; }

.footerWrap {
  background: #fff;
  border-top: 1px solid #eaeaea; }
  .footerWrap .footerCen {
    width: 1100px;
    margin: 0 auto;
    background-color: transparent;
    text-align: left;
    font-size: inherit;
    color: inherit;
    cursor: default;
    display: block; }
    .footerWrap .footerCen .footerList {
      padding: 49px 0;
      border-bottom: 1px solid #eaeaea;
      zoom: 1; }
      .footerWrap .footerCen .footerList ul li {
        float: left;
        width: 233px;
        margin-left: 42px; }
        .footerWrap .footerCen .footerList ul li .fontIcon {
          width: 44px;
          height: 44px;
          border-radius: 50%;
          border: 2px solid #d6d6d6;
          text-align: center;
          line-height: 44px;
          font-size: 20px;
          font-weight: 700;
          margin-right: 12px;
          float: left; }
        .footerWrap .footerCen .footerList ul li > b {
          font-size: 18px;
          font-weight: 700; }
        .footerWrap .footerCen .footerList ul li > span {
          display: block;
          line-height: 22px; }

.footerLogo {
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #000; }
  .footerLogo .footerLogoCen {
    width: 1100px;
    margin: 0 auto; }
    .footerLogo .footerLogoCen > img {
      width: 1100px; }

.footer {
  padding: 20px 0;
  line-height: 26px;
  text-align: center;
  font-size: 12px;
  background-color: #333;
  color: #fff; }
  .footer a {
    text-decoration: none;
    color: #000;
    font-weight: 200;
    color: #fff; }
  .footer > p > a {
    padding: 0 15px; }
  .footer .icon {
    height: 30px; }
    .footer .icon > img {
      height: 30px;
      margin: 5px 15px 0 0; }
