@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

a {
  text-decoration: none; }

body {
  background-color: #F6F6F6; }

.clearFix::after {
  content: "";
  clear: both;
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden; }

@font-face {
  font-family: 'iconfont';
  src: url("./../../static/iconfont/iconfont.eot");
  src: url("./../../static/iconfont/iconfont.eot?#iefix") format("embedded-opentype"), url("./../../static/iconfont/iconfont.woff2") format("woff2"), url("./../../static/iconfont/iconfont.woff") format("woff"), url("./../../static/iconfont/iconfont.ttf") format("truetype"), url("./../../static/iconfont/iconfont.svg#iconfont") format("svg"); }

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.top {
  overflow: hidden;
  height: 80px; }
  .top img {
    width: 100%;
    display: block;
    height: 80px; }

.topNav {
  position: relative;
  background: #000;
  border-bottom: 1px solid #ededee;
  height: 30px;
  color: #999; }
  .topNav .topNavCenter {
    width: 1090px;
    margin: 0 auto;
    position: relative;
    font-size: 12px;
    line-height: 30px; }
    .topNav .topNavCenter > .left {
      float: left;
      position: relative; }
      .topNav .topNavCenter > .left .vip {
        position: absolute;
        left: 70px;
        top: 0px;
        background-color: #000;
        overflow: hidden; }
        .topNav .topNavCenter > .left .vip span {
          color: red;
          font-weight: 600px; }
        .topNav .topNavCenter > .left .vip .logout {
          cursor: pointer; }
      .topNav .topNavCenter > .left a {
        text-decoration: none;
        color: #999;
        padding: 0 15px; }
        .topNav .topNavCenter > .left a:hover {
          color: #fff; }
      .topNav .topNavCenter > .left .chart {
        position: relative;
        left: 40px; }
        .topNav .topNavCenter > .left .chart span {
          display: none;
          position: absolute;
          z-index: 200;
          left: -30px;
          top: 35px;
          *top: 42px;
          padding: 5px 5px 0;
          background: #fff;
          border: 1px solid #ccc; }
          .topNav .topNavCenter > .left .chart span p {
            font-size: 14px;
            color: red;
            line-height: 20px;
            text-align: center; }
          .topNav .topNavCenter > .left .chart span p:nth-child(3) {
            font-size: 13px; }
        .topNav .topNavCenter > .left .chart:hover span {
          display: block; }
    .topNav .topNavCenter > .right {
      float: right;
      height: 100%; }
      .topNav .topNavCenter > .right ul {
        height: 100%;
        display: flex; }
        .topNav .topNavCenter > .right ul li {
          height: 100%;
          list-style: none;
          padding: 0 15px; }
          .topNav .topNavCenter > .right ul li > a {
            text-decoration: none;
            color: #999;
            position: relative; }
            .topNav .topNavCenter > .right ul li > a > i {
              border: 4px solid #000;
              border-top-color: #999;
              position: absolute;
              top: 7px;
              right: -10px; }
            .topNav .topNavCenter > .right ul li > a:hover {
              color: #fff; }
        .topNav .topNavCenter > .right ul li[class]:hover {
          background: #fff; }
          .topNav .topNavCenter > .right ul li[class]:hover a {
            color: #333; }
          .topNav .topNavCenter > .right ul li[class]:hover a > i {
            top: 2px;
            border: 4px solid #fff;
            border-bottom-color: #999; }
          .topNav .topNavCenter > .right ul li[class]:hover a:hover {
            color: red; }
            .topNav .topNavCenter > .right ul li[class]:hover a:hover > i {
              border: 4px solid #fff;
              border-bottom-color: #f00; }

/*logo*/
.header {
  background: #fff;
  height: 100px;
  width: 100%; }
  .header .headerCen {
    width: 1090px;
    height: 100px;
    margin: 0 auto;
    position: relative; }
    .header .headerCen > .logo {
      position: relative;
      left: 0;
      top: 0; }
      .header .headerCen > .logo > img {
        position: absolute;
        left: 0;
        top: 20px;
        width: 200px;
        height: 65px; }
    .header .headerCen .headerSearch {
      position: absolute;
      left: 343px;
      top: 24px; }
      .header .headerCen .headerSearch .search {
        height: 40px;
        width: 510px;
        border: 2px solid red;
        border-radius: 40px;
        position: absolute; }
        .header .headerCen .headerSearch .search span {
          position: absolute;
          font-size: 20px;
          color: #ccc;
          top: 10px;
          left: 10px; }
        .header .headerCen .headerSearch .search input {
          position: absolute;
          top: 2px;
          left: 35px;
          height: 35px;
          width: 450px;
          border: 0;
          outline: none; }
      .header .headerCen .headerSearch .button {
        width: 60px;
        height: 44px;
        background: #ff2337;
        border-radius: 44px;
        position: absolute;
        z-index: 2;
        top: 0;
        text-align: center;
        right: -515px; }
        .header .headerCen .headerSearch .button span {
          font-size: 24px;
          font-weight: 800;
          color: #fff;
          line-height: 44px; }
        .header .headerCen .headerSearch .button:hover {
          background-color: #e00; }
    .header .headerCen > .cart {
      height: 40px;
      width: 90px;
      display: block;
      border: 3px solid red;
      border-radius: 40px;
      position: absolute;
      right: 0;
      top: 20px;
      text-decoration: none;
      color: #000;
      line-height: 40px;
      padding-left: 20px;
      font-size: 20px; }
      .header .headerCen > .cart span {
        font-size: 20px;
        color: red;
        font-weight: 800; }
      .header .headerCen > .cart:hover {
        background-color: #fff;
        color: red; }

/*头部nav*/
.headerNav {
  width: 100%;
  background-color: #fff; }
  .headerNav .headerNavCen {
    width: 1090px;
    height: 40px;
    margin: 0 auto; }
    .headerNav .headerNavCen .classfy {
      position: absolute;
      z-index: 20;
      line-height: 40px;
      width: 164px;
      text-align: left;
      background: red;
      color: #fff; }
      .headerNav .headerNavCen .classfy .all {
        border-bottom: 1px solid #ff5160; }
        .headerNav .headerNavCen .classfy .all span {
          margin: 0 24px 0 15px;
          font-size: 16px; }
      .headerNav .headerNavCen .classfy ul > li {
        height: 40px;
        border-bottom: 1px solid #ff5160;
        list-style: none;
        cursor: pointer; }
        .headerNav .headerNavCen .classfy ul > li a {
          text-decoration: none;
          color: #fff; }
          .headerNav .headerNavCen .classfy ul > li a span {
            margin: 0 24px 0 15px; }
          .headerNav .headerNavCen .classfy ul > li a b {
            margin-left: 15px;
            font-weight: 100; }
        .headerNav .headerNavCen .classfy ul > li:hover {
          background: #fff; }
          .headerNav .headerNavCen .classfy ul > li:hover a {
            color: red; }
    .headerNav .headerNavCen > ul {
      padding-left: 200px;
      display: flex;
      position: absolute; }
      .headerNav .headerNavCen > ul > li {
        padding: 0 20px;
        list-style: none; }
        .headerNav .headerNavCen > ul > li > a {
          text-decoration: none;
          color: #000;
          font-weight: 600; }
        .headerNav .headerNavCen > ul > li:hover a {
          color: red; }

/*banner轮播*/
.banner {
  position: relative;
  width: 100%; }
  .banner .swiper-container {
    height: 500px;
    width: 100%;
    --swiper-pagination-color: red;
    /* 两种都可以 */ }
    .banner .swiper-container .swiper-button-prev, .banner .swiper-container .swiper-button-next {
      display: none;
      margin-left: 400px;
      height: 70px;
      width: 40px;
      line-height: 70px;
      text-align: center;
      background: #999;
      color: #eee;
      opacity: 0.8; }
      .banner .swiper-container .swiper-button-prev:hover, .banner .swiper-container .swiper-button-next:hover {
        color: #fff; }
    .banner .swiper-container .swiper-button-next {
      margin-right: 200px; }
    .banner .swiper-container .swiper-pagination {
      top: 400px;
      left: -250px; }
      .banner .swiper-container .swiper-pagination .swiper-pagination-bullet {
        background: #fff;
        margin: 0 5px;
        width: 10px;
        height: 10px; }
      .banner .swiper-container .swiper-pagination .swiper-pagination-bullet-active {
        background: red; }
    .banner .swiper-container:hover .swiper-button-prev, .banner .swiper-container:hover .swiper-button-next {
      display: block; }
    .banner .swiper-container .swiper-slide > img {
      width: 100%;
      height: 550px; }
  .banner .promise {
    width: 100%;
    height: 47px;
    background: rgba(100, 100, 100, 0.7);
    opacity: 0.7;
    position: absolute;
    top: 453px;
    z-index: 100;
    margin-bottom: 20px; }
    .banner .promise .proCen {
      width: 1090px;
      margin: 0 auto;
      height: 45px; }
      .banner .promise .proCen .proCenLeft {
        float: left;
        font-size: 12px; }
        .banner .promise .proCen .proCenLeft a {
          font-size: 12px;
          text-decoration: none;
          color: #fff;
          line-height: 45px;
          margin-right: 20px; }
          .banner .promise .proCen .proCenLeft a i {
            margin: 0 5px; }
          .banner .promise .proCen .proCenLeft a:hover span {
            text-decoration: underline; }
      .banner .promise .proCen .proCenRight {
        float: right; }
        .banner .promise .proCen .proCenRight a {
          font-size: 12px;
          color: #fff;
          line-height: 45px;
          text-decoration: none; }
        .banner .promise .proCen .proCenRight:hover {
          text-decoration: underline; }

/*items*/
.items {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 30px;
  background: url(./../../static/images/indexItems.webp) no-repeat center top;
  background-size: 1920px 332px; }
  .items .itemsCen {
    position: relative;
    width: 1090px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center; }
    .items .itemsCen a {
      display: block;
      height: 332px;
      width: 22%; }

/*限时购*/
.limited {
  width: 100%;
  margin-bottom: 30px; }
  .limited .limitedCen {
    width: 1090px;
    margin: 0 auto; }
    .limited .limitedCen > h2 {
      color: #333;
      height: 74px;
      padding-top: 25px;
      border-top: 1px solid #e9e9e9;
      margin: 0;
      box-sizing: border-box; }
    .limited .limitedCen section {
      border-top: 1px solid #e9e9e9; }
      .limited .limitedCen section ul {
        width: 840px;
        float: left;
        list-style: none; }
        .limited .limitedCen section ul li {
          position: relative;
          float: left;
          width: 418px;
          height: 189px;
          border-right: 1px solid #eaeaea;
          border-bottom: 1px solid #eaeaea;
          background-color: #fff; }
          .limited .limitedCen section ul li .goods {
            width: 50%;
            float: left; }
          .limited .limitedCen section ul li .discrips {
            float: left; }
      .limited .limitedCen section aside {
        width: 250px;
        float: right; }
        .limited .limitedCen section aside img {
          display: block; }

/*热门品牌  */
.hotBrand {
  width: 100%; }
  .hotBrand .brandCen {
    width: 1090px;
    margin: 0 auto; }
    .hotBrand .brandCen h2 {
      height: 74px;
      padding-top: 25px;
      border-top: 1px solid #e9e9e9;
      margin: 0;
      box-sizing: border-box; }
    .hotBrand .brandCen .brand {
      height: 355px;
      overflow: hidden; }
      .hotBrand .brandCen .brand .flexedBrand {
        position: relative;
        float: left;
        margin-right: -220px;
        width: 219px;
        overflow: hidden;
        border-right: 1px solid #e9e9e9; }
      .hotBrand .brandCen .brand .recomBrand {
        float: left;
        margin: 0 -1px 0 220px;
        border-top: 1px solid #e9e9e9;
        background-color: #fff; }
        .hotBrand .brandCen .brand .recomBrand li {
          list-style: none;
          float: left;
          width: 25%; }
          .hotBrand .brandCen .brand .recomBrand li img {
            display: block;
            margin: 12px auto 0;
            width: 120px;
            height: 120px; }
          .hotBrand .brandCen .brand .recomBrand li p {
            margin: 10px -90px 0;
            text-align: center;
            white-space: nowrap;
            overflow: hidden;
            font-size: 14px;
            font-weight: 700; }
